{{>header}}
<form action="#/login" method="POST" id="registerForm">
    <div id="registerLabel">Welcome!</div>
    <input id="username" placeholder="Username" name="username">
    <input id="password" placeholder="Password" type="password" name="password">
    <button id="SignUp" type="submit">SignIn!</button>
</form>
{{>footer}}