{{>header}}
<form action="#/register" method="POST" id="registerForm">
    <div id="registerLabel">Welcome!</div>
    <input id="username" placeholder="Username" name="username">
    <input id="password" placeholder="Password" type="password" name="password">
    <input id="repeatPassword" placeholder="Repeat Password" type="password" name="repeatPassword">
    <button id="SignUp" type="submit">Sign Up!</button>
</form>
{{>footer}}