{{>header}}
<div id="wrapper">
    <div id="about-left">
        <p class="about-header">About Reverse Engineering</p>
        <p class="about-text">Reverse engineering is taking apart an object to see how it works in order to duplicate or
            enhance the object.
            The practice, taken from older industries, is now frequently used on computer hardware and software.
            Software reverse engineering involves reversing a program's machine code
            back into the source code that it was written in, using program language statements.
            Software reverse engineering is done to retrieve the source code of a program because the source code was
            lost,
            to study how the program performs certain operations, to improve the performance of a program, to fix a bug
        </p>
    </div>
    <div id="about-right">
        <p class="about-header">About This Website</p>
        <p class="about-text">This is a small website i have created for reverse engineers to come and enchance their
            reverse engineering skills.
            This website has challenges where you can download and complete.
            After completing a challenge you can submit the answer on the website and you will be awarded with SP(skill points)
            The challanges vary from begginer to advanced level and new are constantly being uploaded
            You can join the forum where you can share your experience ask and answer questions
            This website has been created for informational purpouses only and will not be held responsible for eny illegal activities
        </p>
    </div>
</div>
{{>footer}}