{{>header}}
<p id="tip">Click on a challenge to see the Answer</p>
<div id="easy">
  <div id="easyLabel">
    <p>[Easy]</p>
  </div>
  <button class="accordion">mexican
    <a href="../challenges/mexican.zip" download="../challenges/mexican.zip">
      <img class="downloadBtn" src="../images/downloadBtn.png">
    </a>
  </button>
  <form class="panel" action="#/challenges" method="POST">
    flag{M3x1c4nMl4lw4r3_pl3rro}
  </form>

  <button class="accordion">VIP_access_me
    <a href="../challenges/VIP_access_me.zip" download="../challenges/VIP_access_me.zip">
      <img class="downloadBtn" src="../images/downloadBtn.png">
    </a>
  </button>
  <form class="panel" action="#/challenges" method="POST">
joe	f5gz51xyxy6ggj96j1mlgz21j
  </form>

  <button class="accordion">UnhappyAngel
    <a href="../challenges/UnhappyAngel.zip" download="../challenges/UnhappyAngel.zip">
      <img class="downloadBtn" src="../images/downloadBtn.png">
    </a>
  </button>
  <form class="panel" action="#/challenges" method="POST">
    thinkingthonking
  </form>

  <button class="accordion">alien_bin
    <a href="../challenges/alien_bin.zip" download="../challenges/alien_bin.zip">
      <img class="downloadBtn" src="../images/downloadBtn.png">
    </a>
  </button>
  <form class="panel" action="#/challenges" method="POST">
    bd23cf3f56baa86bc
  </form>

  <button class="accordion">oldschool.exe
    <a href="../challenges/oldschool.exe" download="../challenges/oldschool.exe">
      <img class="downloadBtn" src="../images/downloadBtn.png">
    </a>
  </button>
  <form class="panel" action="#/challenges" method="POST">
    tazdingo
  </form>

  <button class="accordion">HireMe!
    <a href="../Challenges/" download="../Challenges/">
      <img class="downloadBtn" src="../images/downloadBtn.png">
    </a>
  </button>
  <form class="panel" action="#/challenges" method="POST">
    Im looking for a job pls
  </form>
</div>

<p id="todo">More coming soon!!</p>
<script src="../scripts/DOM/challenges.js"></script>
{{>footer}}